#eliott_page {
    margin-top: 100vh;
    background-color: var(--colPink);
    margin-left: var(--sizeSidebar);
}
.titlefond{
    color: #F0E8E0;
    font-size: 200px;
}
.visite{
    display: flex;
}
.right{
    display: flex;
    justify-content: end;
}
.casevide{
    width: 720px;
    height: 480px;
    background-color: #271823;
}
.videox{
    display: flex;
    justify-content: center;
    position: relative;    
}
#david_cage{
    width: 180vw;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: visible;
    animation: ani1 30s linear infinite;
    z-index: -10;
}
.fullteam{
    display: inline-grid;
    background-color: var(--colPink);
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: var(--colWhite);
    font-family: inter;
}
.team{
    width: 16.6vw;
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 1.5vw;
    justify-content: end;
    padding: 10px;
    background-position: center;
    background-size: cover;
    text-shadow: 0.1vw 0.1vw var(--colBlack);
}

.team h3 {
    font-size: 1.4vw;
    font-weight: 600;
    margin-left: 1.5vw;
}

.team h4 {
    font-size: 1.2vw;
    font-weight: 300;
    margin-left: 1.5vw;
    margin-bottom: 1vw;
}

.membrea {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/nathan.jpg');
}

.membreb {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/alex.jpg');
}

.membrec {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/romain.jpg');
}

.membred {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/lou-anne.jpg');
}

.membree {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/malo.jpg');
}

.membref {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/vadim.jpg');
}

.membreg {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/enzost.jpg');
}

.membreh {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/alice.jpg');
}

.membrei {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/enzonc.jpg');
}

.membrej {
    background-image:
    linear-gradient(90deg, rgba(39,24,35,0.1) 0%, rgba(39,24,35,0) 10%),
    linear-gradient(0deg, rgba(39,24,35,1) 0%, rgba(39,24,35,0) 40%),
    url('../../assets/img/alyx.jpg');
}

@keyframes ani1 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-100%);
    }
}