#eliott_page {
    margin-top: 100vh;
    background-color: var(--colPink);
    margin-left: var(--sizeSidebar);
}
.titlefond{
    color: #F0E8E0;
    font-size: 200px;
}
.visite{
    display: flex;
}
.right{
    display: flex;
    justify-content: end;
}
.casevide{
    width: 720px;
    height: 480px;
    background-color: #271823;
}
.videox{
    display: flex;
    justify-content: center;
    position: relative;    
}
#david_cage{
    width: 180vw;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: visible;
    animation: ani1 25s linear infinite;
    z-index: -10;
}
.fullteam{
    display: inline-grid;
    background-color: #FF70B5;
    height: 40vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.team{
    width: 16.6vw;
    border: solid 3px #271823;
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 1.5vw;
    justify-content: end;
    padding: 10px;
    background-size: cover;
    background-position: center;
}

.team:not(:nth-child(9n)) {
    border-right: 3px solid black;
}


.membrea {
    background-image: url('../../assets/img/nathan.jpg');
}

.membreb {
    background-image: url('../../assets/img/alex.jpg');
}

.membrec {
    background-image: url('../../assets/img/romain.jpg');
}

.membred {
    background-image: url('../../assets/img/lou-anne.jpg');
}

.membree {
    background-image: url('../../assets/img/malo.jpg');
}

.membref {
    background-image: url('../../assets/img/vadim.jpg');
}

.membreg {
    background-image: url('../../assets/img/enzost.jpg');
}

.membreh {
    background-image: url('../../assets/img/alice.jpg');
}

.membrei {
    background-image: url('../../assets/img/enzonc.jpg');
}

.membrej {
    background-image: url('../../assets/img/alix.jpg');
}

@keyframes ani1 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-180vw);
    }
}