#landing_sidebar {
    background-color: #271823;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sizeSidebar);
    height: 350vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#sidebar_logo {
    top: 2vw;
    position: relative;
    height: 30px;
    background-color: #271823;
    z-index: 3;
}

#sidebar_progress {
    font-size: 1.5vw;
    margin-top: 4vw;
    width: 0.15vw;
    height: 1000vw;
    background-color: var(--colPink);
}

#sidebar_newsletter {
    top: 150px;
    position: fixed;
    transform: translateX(-6.5vw) rotate(-90deg) translateX(-100px);
    background-color: #271823;
    width: 13vw;
    color: #F0E8E0;
    text-align: center;
}

#sidebar_ig {
    text-align: center;
    position: fixed;
    background-color: #271823;
    bottom: 25px;
    transform: translateX(-1vw);
    width: 3vw;
    height: 3vw;
    text-align: center;
}

.up_nav{
    color: black;
    padding: 30px;
    margin-left: 10vw;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 150px;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    color: var(--colBlack);
    text-decoration: none;
}

.up_nav a{
    color: black;  
}

.up_nav a:not(:first-child){
    text-decoration: none; 
}
.un_nav:hover{
    text-decoration: underline;
}

#landing_dong{
    height: 100vh;
    background-color: var(--colPink);
}
.logoandtext{
    margin-left: 14vw;
}
.logoheader{
    width: 580px;
}
.txtslogan{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: x-large;
}

.vanif_cont {
    display: flex;
}

.vanillefraise{
    width: 850vh;
    font-size: 70vh;
    overflow: visible;
    white-space: nowrap;
    line-height: 100%;
    position: relative;
    bottom: 12vw;
    display: flex;
    animation: ani2 15s linear infinite;
}
.ig_logo{
    width: 30px;
    z-index: 3;
    margin-right: 0.9vw;
    background-color: #271823;
    margin-top: 0.5vw;
}

@media screen and (max-width: 1280px){
    #landing_sidebar{
        display: none;
    }

    .up_nav{
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: absolute;
        top: 25px;
        right: 25px;
    }
}

@media screen and (max-width: 980px){
    .logoheader{
        position: absolute;
        top: 25px;
        left: 25px;
        width: 200px;
    }
    .txtslogan{
        display: none;
    }


}



@keyframes ani2 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-100%);
    }
}